<div class="text-center mt-5">
    <div class="mt-2 mb-5">
        <h1 class="text-danger"> Inscription </h1>
    </div>
    <div class="">
        <form action="" method="post">
            <label class ="mx-2" for="nom">Nom : &nbsp;&nbsp;</label>
            <input type="text" id="nom" name="nom"><br><br>
            <label for="prenom">Prenom : &nbsp; </label>
            <input type="text" id="prenom" name="prenom"><br><br>
            <label  for="courriel">Courriel :  &nbsp;</label>
            <input type="email" name="courriel" id="courriel"> <br><br>
            <label for="password">Password :</label>
            <input type="password" name="password" id="password"> <br> <br>
            &nbsp; <input class="mx-5 btn btn-outline-danger" type="submit" value="S'inscrire">
        </form>
    </div>
</div>