 <!--NAVIGATION BAR-->
 <nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" href="">
        <img src="" alt="LOGO" />
      </div>
      <div class="navbar-toggler" aria-controls="basic-navbar-nav">
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="navbar-collapse" id="basic-navbar-nav">
        <div class="navbar-nav ms-auto">
          <a class="nav-link mx-3" routerLink="#" routerLinkActive="active" alt="Login page">
            Services </a>
          <a class="nav-link mx-3" routerLink="#" routerLinkActive="active" alt="About page">
            A Propos </a>
          <a class="nav-link mx-3" routerLink="#" routerLinkActive="active" alt="Services page">
            Contactez-nous </a>
        </div>
        <span class="navbar-text">
          <button [routerLink]="'/authentifierUsager'"  class="vvd"><span> <i
                class="fa-solid fa-right-to-bracket"></i>&nbsp; Connexion</span></button>
        </span>
      </div>
    </div>
  </nav>
  <br><br><br><br><br>