  <!--NAVIGATION BAR-->
  <nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
      <div class="navbar-brand" href="">
        <img src="" alt="LOGO" />
      </div>
      <div class="navbar-toggler" aria-controls="basic-navbar-nav">
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="navbar-collapse" id="basic-navbar-nav">
        <div class="navbar-nav ms-auto">
          <a class="nav-link mx-3" routerLink="/ajouterQuiz" routerLinkActive="active" alt="Login page">
            Services </a>
          <a class="nav-link mx-3" routerLink="/ajouterQuiz" routerLinkActive="active" alt="About page">
            A Propos </a>
          <a class="nav-link mx-3" routerLink="/ajouterQuiz" routerLinkActive="active" alt="Services page">
            Contactez-nous </a>
        </div>
        <span class="navbar-text">
          <button routerLink="/ajouterQuiz" routerLinkActive="active" class="vvd"><span> <i
                class="fa-solid fa-right-to-bracket"></i>&nbsp; Connexion</span></button>
        </span>
      </div>
    </div>
  </nav>
  <br><br><br><br><br>
  <!-- BANNER -->
  <!-- Don't forget to optimize pictures for better loading time  (Photoshop, GIMP, ...) -->
  <div class="container-fluid">
    <div class="container-banner">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="image-container" src="../assets/images/banner1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="caption">...</h5>
              <p>...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/banner.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="caption">...</h5>
              <p>...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/banner3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="caption">...</h5>
              <p>...</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/images/banner4.jpg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="caption">...</h5>
              <p>...</p>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>
  </div>
  <br>
  <!-- TEXTBOX-->
  <div class="container-fluid">
    <div class="row" id="row">
      <div class="col-6">
        <div class="container-fluid text-center" id="containerbox">
          <div class="p-5">
            <h3 class="mb-3">Permis étudiant</h3>
            <p style="text-align: justify !important;"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
              totam obcaecati eius, assumenda
              rem distinctio sapiente voluptatibus incidunt Quia ipsa illum laborum laudantium fugiat
              excepturi repellendus ipsum modi consectetur?Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Quas eveniet repellat obcaecati quae, laudantium ratione voluptatibus quos, nam autem quo
              amet reiciendis vitae. Rerum saepe deleniti nobis tenetur mollitia sint.</p>
            <button class="btn btn-primary p-3 mt-4"> Se renseigner</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container-fluid" id="containerbox">
          <div class="text-center p-5">
            <h3 class="mb-3"> Permis étudiant</h3>
            <p style="text-align: justify !important;"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
              totam obcaecati eius, assumenda
              rem distinctio sapiente voluptatibus incidunt Quia ipsa illum laborum laudantium fugiat
              excepturi repellendus ipsum modi consectetur?Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Quas eveniet repellat obcaecati quae, laudantium ratione voluptatibus quos, nam autem quo
              amet reiciendis vitae. Rerum saepe deleniti nobis tenetur mollitia sint.</p>
            <button class="btn btn-primary p-3 mt-4"> Se renseigner</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER-->
  <section class="">
    <!-- Footer -->
    <footer class="bg-body-tertiary ">
      <!-- Grid container -->
      <div class="container-fluid p-4 border border-dark border-2 mt-5 border-">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-dark">
            <h5 class="text-uppercase">Contactez nous</h5>
            <p><i class="fa-solid fa-phone my-3" style="color: #ff0000;"></i> 1 800 111 1234</p>
            <p><i class="fa-solid fa-envelope" style="color: #ff0000;"></i> email&#64;domaine.ca</p>
            <p><i class="fa-solid fa-location-dot my-3" style="color: #ff0000;"></i> 1 avenue de l'immigration </p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur
              maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
              sint!</p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-dark">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-body">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-dark">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-body">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(235, 20, 20, 0.671);">
        © 2024 Copyright:
        <a class="text-body" href="https://bchwiya.com/">MohWeb</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
 