<div class="container-fluid mt-3">
    <div class="row" id="row">
        <div class="col-6">
            <div class="container" id="containerbox">
                <div class="text-center p-5">
                    <h3> Permis étudiant</h3>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit totam obcaecati eius, assumenda
                        rem distinctio sapiente voluptatibus incidunt Quia ipsa illum laborum laudantium fugiat
                        excepturi repellendus ipsum modi consectetur?Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Quas eveniet repellat obcaecati quae, laudantium ratione voluptatibus quos, nam autem quo
                        amet reiciendis vitae. Rerum saepe deleniti nobis tenetur mollitia sint.</p>
                    <button class="btn btn-primary">Se renseigner</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container" id="containerbox">
                <div class="text-center p-5">
                    <h3> Permis étudiant</h3>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit totam obcaecati eius, assumenda
                        rem distinctio sapiente voluptatibus incidunt Quia ipsa illum laborum laudantium fugiat
                        excepturi repellendus ipsum modi consectetur?Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Quas eveniet repellat obcaecati quae, laudantium ratione voluptatibus quos, nam autem quo
                        amet reiciendis vitae. Rerum saepe deleniti nobis tenetur mollitia sint.</p>
                    <button class="btn btn-primary">Se renseigner</button>
                </div>
            </div>
        </div>
    </div>
</div>